body{
    margin: 130px auto; 
    width: 220px;
    box-sizing: border-box;
    display: block;
    padding: 2px 2px 2px 2px;
    border: 1px groove black;
    border-radius: 3px;
}
@font-face {
    font-family: RampartOne;
    src: url(Fonts/RampartOne-Regular.ttf);
}
.parent{
    text-align: center;

}
h1{
    font-family: RampartOne;
    padding-bottom: 5px;
}
label[for=first-name],label[for=last-name],label[for=email]{
    display: inline-block;
    font-family: fantasy;
}
.first-name{
    padding-bottom: 10px;
}
.last-name{
    padding-bottom: 10px;
}
.email{
    padding-bottom: 10px;
}
input[type=text]{
    width: 100px;
}
input[type=submit]{
    width: 210px;
    display: center;
    text-align: center;
    border: 1px outset white;
    border-radius: 4px;
    margin-bottom: 15px;
}
